body {
  text-align: center;
  font-family: Arial;
  background: #222;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.card{
    background: linear-gradient(to right,rgb(155, 14, 14),rgb(93, 23, 206));
    height: 400px;
    width: 500px;
    border-radius: 19px;

}
button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
}
button:active{
    transform: scale(1.2);
}
h1 {
  margin-top: 20px;
}
