*{
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.container {
  width: 320px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

input {
  width: 80%;
  padding: 8px;
}

button {
  padding: 8px 12px;
  margin-top: 8px;
  cursor: pointer;
}

li {
  list-style: none;
  margin: 5px 0;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
