*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at center,rgb(26, 88, 145),rgb(0, 255, 200));
}
.card{
    height: 400px;
    width: 500px;
    border: 1px solid rgb(71, 67, 67);
    align-items: center;
    text-align: center;
    padding:10px;
    padding-top: 50px;
    border-radius: 30px;
    z-index: 3;
    box-shadow: 0px 0px 23px rgba(7, 7, 7);
}
.card h1{
    background:linear-gradient(to right,rgb(255, 0, 0),rgb(138, 9, 189));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 5px;
}
#btn{
    height: 50px;
    padding: 10px;
    border: 3rem;
    border-radius:12px;
    width: 220px;
    background-color: orangered;
    font-size: large;
    font-weight: bold;
    color: white;
}
#quote{
    font-weight: bold;
    font-size: 30px;
    color: white;
    margin-bottom: 40px;
    margin-top: 30px;
}